body {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  background-color: skyblue;
  color: bisque;
}

.content {
  padding: 0% 30px;
}

#startArea {
  display: none;
}
#countArea {
  display: none;
}
#resultArea {
  display: none;
}
#descriptionArea {
  display: none;
}

table {
  width: 100%;
  margin: 10px;
}
th {
  background-color: #255a86;
  padding: 10px;
  border-radius: 5px;
}
td {
  color: black;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

li {
  margin: 10px;
}

button {
  padding: 1px 10px;
  margin: 3px;
  position: relative;
  border-radius: 5px;
  color: bisque;
  border: none;
}
button:hover {
  box-shadow: none;
  top: 2px;
}

img {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px #255a86;
}
img:hover {
  box-shadow: none;
}
img:active {
  opacity: 0.8;
}

#titleText {
  display: inline-block;
}

#help {
  left: 10px;
  top: 8px;
}
#help:hover {
  top: 10px;
}

#navigation {
  text-decoration: underline;
}

#inputSeconds {
  width: 30%;
}

#timer {
  display: inline;
}

#currentCount {
  display: inline;
}

#click {
  top: 7px;
}
#click:hover {
  top: 9px;
}

#clickMini {
  top: 5px;
  margin: 0 10px;
}
#clickMini:hover {
  top: 7px;
}

.blueButton {
  background-color: royalblue;
  box-shadow: 0 4px #255a86;
}
.blueButton:active {
  background-color: #255a86;
}

.orangeButton {
  background-color: darkorange;
  box-shadow: 0 4px #944d07;
}
.orangeButton:active {
  background-color: #944d07;
}

.grayButton {
  background-color: #a9a9a9;
  box-shadow: 0 4px #778899;
}
.grayButton:active {
  background-color: #778899;
}
